<ion-header [translucent]="true">
  <ion-toolbar>
    <img id="Logo" src="./../../assets/images/Logo3.png" alt="LogoSoL">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">

    <div class="banner">
      <div style="position: relative; width: 200px; height: 300px; margin : auto;">
        <img [src]="hair|hair" style="width: 100%; position: absolute; left: 0; top : 150; z-index: 1;">
        <img src="./../../assets/images/Pants.png" style="width: 100%; position: absolute; left: 0; top : 150; z-index: 1;">
        <img src="./../../assets/images/Belt.png" style="width: 100%; position: absolute; left: 0; top : 150; z-index: 1;">
        <img src="./../../assets/images/Shoes.png" style="width: 100%; position: absolute; left: 0; top : 150; z-index: 1;">
        <img [src]="body|body" style="width: 100%; position: absolute; left: 0; top : 150; z-index: 0;">
        <img [src]="beard|beard" style="width: 100%; position: absolute; left: 0; top : 150; z-index: 1;">
        <img [src]="shirt|shirt" style="width: 100%; position: absolute; left: 0; top : 150; z-index: 1;">
      </div>
    </div>

    <div id="connexion">
        <label>Nom d'utilisateur</label>
        <input type="text" placeholder="username">
        <label>Mot de passe</label>
        <input type="password" placeholder="password">
        <button>Se connecter</button>
        <button [routerLink]="['/register']">Créer un compte</button>
    </div>

    <div class="banner">
      <div style="position: relative; width: 200px; height: 300px; margin : auto;">
        <img [src]="hair2|hair" style="width: 100%; position: absolute; left: 0; top : 150; z-index: 1;">
        <img src="./../../assets/images/Pants.png" style="width: 100%; position: absolute; left: 0; top : 150; z-index: 1;">
        <img src="./../../assets/images/Belt.png" style="width: 100%; position: absolute; left: 0; top : 150; z-index: 1;">
        <img src="./../../assets/images/Shoes.png" style="width: 100%; position: absolute; left: 0; top : 150; z-index: 1;">
        <img [src]="body2|body" style="width: 100%; position: absolute; left: 0; top : 150; z-index: 0;">
        <img [src]="beard2|beard" style="width: 100%; position: absolute; left: 0; top : 150; z-index: 1;">
        <img [src]="shirt2|shirt" style="width: 100%; position: absolute; left: 0; top : 150; z-index: 1;">
      </div>
    </div>

  </div>

  <div id="banner_bot" style="position: relative; width: 150px; height: 200px; margin : auto;">
    <img [src]="hair|hair" style="width: 100%; position: absolute; left: 0; top : 150; z-index: 1;">
    <img src="./../../assets/images/Pants.png" style="width: 100%; position: absolute; left: 0; top : 150; z-index: 1;">
    <img src="./../../assets/images/Belt.png" style="width: 100%; position: absolute; left: 0; top : 150; z-index: 1;">
    <img src="./../../assets/images/Shoes.png" style="width: 100%; position: absolute; left: 0; top : 150; z-index: 1;">
    <img [src]="body|body" style="width: 100%; position: absolute; left: 0; top : 150; z-index: 0;">
    <img [src]="beard|beard" style="width: 100%; position: absolute; left: 0; top : 150; z-index: 1;">
    <img [src]="shirt|shirt" style="width: 100%; position: absolute; left: 0; top : 150; z-index: 1;">
  </div>

  
  
</ion-content>

<ion-footer>
</ion-footer>
