<ion-header [translucent]="true">
  <ion-toolbar>
    <img id="Logo" src="./../../assets/images/Logo3.png" alt="LogoSoL">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  

  <div id="container">

    <div class="banner">

    </div>

    <div id="divsit">
      <div id="sit">
        <img src="./../../assets/images/SittingBody.png" style="width: 100%; position: absolute; left: 0; top : 150; z-index: 1;">
      </div>

      <div id="connexion">
          <label>Nom d'utilisateur *</label>
          <input [(ngModel)]="username" type="text" placeholder="username">
          <label>Mot de passe *</label>
          <input [(ngModel)]="password1" type="password" placeholder="password">
          <label>Confirmez le mot de passe *</label>
          <input [(ngModel)]="password2" type="password" placeholder="password">
          <label id="erreur" *ngIf="message" style="font-size: 16px;">{{message}}</label>
          <label>(*) Champ requis.</label>
          <button (click)="valider()">Créer un compte</button>
      </div>
    </div>

    <div class="banner">

    </div>

  </div>
  
</ion-content>

<ion-footer>
</ion-footer>
