@media only screen and (max-width : 320px)
  {
    #Logo
    {
      width : auto;
      height : 100px;
      display : flex;
      justify-self: center;
      align-self: center;
      margin : auto;
    }

    .banner
    {
      width : 0%;
      height : 25px;
      visibility: hidden;
    }

    #container
    {
      display : flex;
      justify-content: right;
      width : 90%;
      border : none;
      background-color: white;
      margin-top : 25px;
      margin-left : auto;
      margin-right: auto;
      margin-bottom: 100px;
    }

    #container input
    {
      font-family: Georgia, 'Times New Roman', Times, serif;
      margin-left : auto;
      margin-right: auto;
      width : 75%;
      height: 30px;
      margin-bottom: 20px;
      border-radius: 5px;
      box-shadow: 3px 3px 4px black;
    }

    #container label
    {
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-weight: normal;
      font-size: 18px;
      padding-bottom: 15px;
    }

    #container button
    {
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-weight: normal;
      height : 50px;
      font-size: 20px;
      margin-bottom: 15px;
      width : 75%;
      margin-left : auto;
      margin-right: auto;
      background-color: #A68888;
      border-radius: 5px;
      text-shadow: black 3px 3px 4px;
      box-shadow: 3px 3px 4px black;
    }

    #connexion
    {
      display : flex;
      text-align: center;
      justify-items: center;
      flex-direction: column;
      justify-items: center;
      margin: auto;
      padding: 25px;
      padding-top : 50px;
      width: 100%;
      height : auto;
      border : 1px solid black;
      border-radius: 10px;
      box-shadow: 7px 7px 10px black;
      text-shadow: black 3px 3px 4px;
    }

    #sit
    {
      display : flex; 
      position: relative; 
      width: 100px; 
      height: 130px; 
      margin-right : 100px;
    }

    #divsit
    {
      display : flex;
      flex-direction: column;
      width: 100%;
    }

  }

  @media only screen and (min-width : 321px) and (max-width : 375px)
  {
    #Logo
    {
      width : auto;
      height : 110px;
      display : flex;
      justify-self: center;
      align-self: center;
      margin : auto;
    }

    .banner
    {
      width : 0%;
      height : 25px;
      visibility: hidden;
    }

    #container
    {
      display : flex;
      justify-content: right;
      width : 90%;
      border : none;
      background-color: white;
      margin-top : 25px;
      margin-left : auto;
      margin-right: auto;
      margin-bottom: 100px;
    }

    #container input
    {
      font-family: Georgia, 'Times New Roman', Times, serif;
      margin-left : auto;
      margin-right: auto;
      width : 75%;
      height: 30px;
      margin-bottom: 20px;
      border-radius: 5px;
      box-shadow: 3px 3px 4px black;
    }

    #container label
    {
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-weight: normal;
      font-size: 20px;
      padding-bottom: 15px;
    }

    #container button
    {
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-weight: normal;
      height : 50px;
      font-size: 20px;
      margin-bottom: 15px;
      width : 75%;
      margin-left : auto;
      margin-right: auto;
      background-color: #A68888;
      border-radius: 5px;
      text-shadow: black 3px 3px 4px;
      box-shadow: 3px 3px 4px black;
    }

    #connexion
    {
      display : flex;
      text-align: center;
      justify-items: center;
      flex-direction: column;
      justify-items: center;
      margin: auto;
      padding: 25px;
      padding-top : 50px;
      width: 100%;
      height : auto;
      border : 1px solid black;
      border-radius: 10px;
      box-shadow: 7px 7px 10px black;
      text-shadow: black 3px 3px 4px;
    }

    #sit
    {
      display : flex; 
      position: relative; 
      width: 100px; 
      height: 130px; 
      margin-right : 100px;
    }

    #divsit
    {
      display : flex;
      flex-direction: column;
      width: 100%;
    }
  }

  @media only screen and (min-width : 376px) and (max-width : 425px)
  {
    #Logo
    {
      width : auto;
      height : 120px;
      display : flex;
      justify-self: center;
      align-self: center;
      margin : auto;
    }

    .banner
    {
      width : 0%;
      height : 25px;
      visibility: hidden;
    }

    #container
    {
      display : flex;
      justify-content: right;
      width : 90%;
      border : none;
      background-color: white;
      margin-top : 25px;
      margin-left : auto;
      margin-right: auto;
      margin-bottom: 100px;
    }

    #container input
    {
      font-family: Georgia, 'Times New Roman', Times, serif;
      margin-left : auto;
      margin-right: auto;
      width : 75%;
      height: 30px;
      margin-bottom: 20px;
      border-radius: 5px;
      box-shadow: 3px 3px 4px black;
    }

    #container label
    {
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-weight: normal;
      font-size: 20px;
      padding-bottom: 15px;
    }

    #container button
    {
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-weight: normal;
      height : 50px;
      font-size: 20px;
      margin-bottom: 15px;
      width : 75%;
      margin-left : auto;
      margin-right: auto;
      background-color: #A68888;
      border-radius: 5px;
      text-shadow: black 3px 3px 4px;
      box-shadow: 3px 3px 4px black;
    }

    #connexion
    {
      display : flex;
      text-align: center;
      justify-items: center;
      flex-direction: column;
      justify-items: center;
      margin: auto;
      padding: 25px;
      width: 100%;
      height : auto;
      border : 1px solid black;
      border-radius: 10px;
      box-shadow: 7px 7px 10px black;
      text-shadow: black 3px 3px 4px;
    }

    #sit
    {
      display : flex; 
      position: relative; 
      width: 100px; 
      height: 130px; 
      margin-right : 100px;
    }

    #divsit
    {
      display : flex;
      flex-direction: column;
      width: 100%;
    }
  }

  @media only screen and (min-width : 426px) and (max-width : 768px)
  {
    #Logo
    {
      width : auto;
      height : 140px;
      display : flex;
      justify-self: center;
      align-self: center;
      margin : auto;
    }

    .banner
    {
      width : 0%;
      height : 25px;
      visibility: hidden;
    }

    #container
    {
      display : flex;
      justify-content: right;
      width : 75%;
      border : none;
      background-color: white;
      margin-top : 25px;
      margin-left : auto;
      margin-right: auto;
      margin-bottom: 100px;
    }

    #container input
    {
      font-family: Georgia, 'Times New Roman', Times, serif;
      margin-left : auto;
      margin-right: auto;
      width : 60%;
      height: 30px;
      margin-bottom: 20px;
      border-radius: 5px;
      box-shadow: 3px 3px 4px black;
    }

    #container label
    {
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-weight: normal;
      font-size: 20px;
      padding-bottom: 15px;
    }

    #container button
    {
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-weight: normal;
      height : 50px;
      font-size: 20px;
      margin-bottom: 15px;
      width : 60%;
      margin-left : auto;
      margin-right: auto;
      background-color: #A68888;
      border-radius: 5px;
      text-shadow: black 3px 3px 4px;
      box-shadow: 3px 3px 4px black;
    }

    #connexion
    {
      display : flex;
      text-align: center;
      justify-items: center;
      flex-direction: column;
      justify-items: center;
      margin: auto;
      padding: 25px;
      width: 100%;
      height : auto;
      border : 1px solid black;
      border-radius: 10px;
      box-shadow: 7px 7px 10px black;
      text-shadow: black 3px 3px 4px;
    }

    #sit
    {
      display : flex; 
      position: relative; 
      width: 100px; 
      height: 130px; 
      margin-right : 100px;
    }

    #divsit
    {
      display : flex;
      flex-direction: column;
      width: 100%;
    }
  }

  @media only screen and (min-width : 769px)
  {
    #Logo
    {
      width : auto;
      height : 150px;
      display : flex;
      justify-self: center;
      align-self: center;
      margin : auto;
    }

    .banner
    {
      width : 30%;
    }

    #banner_bot
    {
      visibility: hidden;
      height: 10px;
    }

    #container
    {
      display : flex;
      justify-content: right;
      width : 100%;
      border : none;
      background-color: white;
      margin-top : 25px;
      margin-left : auto;
      margin-right: auto;
      margin-bottom: 100px;
    }

    #container input
    {
      font-family: Georgia, 'Times New Roman', Times, serif;
      margin-left : auto;
      margin-right: auto;
      width : 50%;
      height: 30px;
      margin-bottom: 20px;
      border-radius: 5px;
      box-shadow: 3px 3px 4px black;
    }

    #container label
    {
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-weight: normal;
      font-size: 20px;
      padding-bottom: 15px;
    }

    #container button
    {
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-weight: normal;
      height : 50px;
      font-size: 20px;
      margin-bottom: 15px;
      width : 50%;
      margin-left : auto;
      margin-right: auto;
      background-color: #A68888;
      border-radius: 5px;
      text-shadow: black 3px 3px 4px;
      box-shadow: 3px 3px 4px black;
    }

    #connexion
    {
      display : flex;
      text-align: center;
      justify-items: center;
      flex-direction: column;
      justify-items: center;
      padding: 25px;
      width: 100%;
      height : auto;
      border : 1px solid black;
      border-radius: 10px;
      box-shadow: 7px 7px 10px black;
      text-shadow: black 3px 3px 4px;
    }

    #sit
    {
      display : flex; 
      position: relative; 
      width: 100px; 
      height: 130px; 
      margin-right : 100px;
    }

    #divsit
    {
      display : flex;
      flex-direction: column;
      width: 40%;
    }
  }

#erreur
{
  text-shadow: none;
  font-size: 10px;
  color : red;
}